html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p  {
  margin: 0;
}

#wrapper    {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.container {
  width: 320px;
  height: auto;
  margin: 0 auto;
  padding: 0 15px;
}