$color-1: #ffff;
$color-2: #1ab798;
$color-3: #282528;
$color-4: #7e7c7e;
$color-5: #babdc1;
$color-6: #31d4e7;
$color-7: #0098cd;
$color-8: #3b5997;
$color-9: #3ec2f3;
$color-10: #007ab9;
$color-11: #bface2;
$color-12: #686868;
$color-13: #384d5c;
$color-14: #efefef;