.team__title    {
    padding-top: 50px;;
}

.team__title-text    {
    @extend %title;
    width: 296px;

    &::before    {
        @extend %title-psevdo;
        left: 0;
    }
    
    &::after    {
        @extend %title-psevdo;
        right: 0;
    }
}

.team__about {
    padding-bottom: 50px;
}

.team__about-text    {
    text-align: center;
    @extend %font-family-1;
    font-size: 16px;
    color: $color-13;
    width: 266px;
    margin: 0 auto;
}

.team__card {
    position: relative;
    width: 270px;
    margin: 0 auto;
}

.team__overlay:hover .team__image   {
    opacity: 0.1;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.team__overlay:hover .team__text  {
    visibility: visible;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.team__overlay:hover .team__icons    {
    visibility: visible;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.team__overlay:hover .team__name    {
    color: $color-2;
}

.team__foto {
    background-color: $color-2;
    height: 300px;
}

.team__text {
    text-align: center;
    position: absolute;
    width: 222px;
    top: 22px;
    right: 22px;
    @extend %font-family-1;
    font-size: 16px;
    color: $color-1;
    visibility: hidden;
}

.team__icons    {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 134px;
    height: 42px;
    margin: 0 auto;
    position: absolute;
    top: 234px;
    right: 66px;
    visibility: hidden;
}

.team__icon    {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 42px;
    height: 42px;
    background-color: rgba(18, 117, 98, 0.7);
}

.team__name {
    @extend %font-family-3;
    font-size: 18px;
    color: $color-3;
    padding-top: 20px;
    text-align: center;
}

.team__prof {
    @extend %font-family-2;
    font-size: 13px;
    color: $color-4;
    padding-top: 14px;
    text-align: center;
    padding-bottom: 50px;
}