.header {
    background-image: url(../images/banner.png);
    background-size: cover;
    background-position: center;
}

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
    .header {
        background-image: url(../images/banner@2x.png);
        background-size: cover;
        background-position: center;
    }
}

.container-head {
    padding-top: 20px;
    padding-bottom: 105px;
    margin-bottom: 60px;
}

.navigation {
    margin-bottom: 90px;
}

.header-line {
    background-color: $color-1;
    width: 100%;
    height: 80px;
    position: absolute;
    top: 20px;
    left: 0; 
}

.header_body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 80px;
}

.header_logo {
    z-index: 40;
}

.header_logo-link {
    font-size: 22px;
    @extend %font-family-4;
    color: $color-2;
    line-height: 1;
}

.header_burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;  
    z-index: 40;

    & span {
        background-color: $color-3;
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
        top: 8px;
        -webkit-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
    }

    &::before,
    &::after {
    content: '';
        background-color: $color-3;
        position: absolute;
        width: 100%;
        height: 3px;
        -webkit-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
    }

    &::before {
        top: 0;
    }

    &::after {
        bottom: 0;
    }
}
    
.header_burger.active::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
}
    
.header_burger.active::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 8px;
}
    
.header_burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
}

.header_menu {
    position: absolute;
    top: 100;
    left: 0;
    background-color: $color-1;
    width: 100%;
    display: none;

    &.active {
        display: block;
    }
}

.header_menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 30px;
    padding-bottom: 245px;
}

.header_menu-item {
    margin-bottom: 30px;

    & a {
        font-size: 13px;
        @extend %font-family-1;
        color: rgba(40, 37, 40, 0.6);
        text-transform: uppercase;
    }

    & a:hover {
        color: $color-3;
    }
}

.header_title {
    color: $color-1;
    margin-bottom: 15px;
}

.header_title-up {
    font-size: 25px;
    @extend %font-family-4;
    margin-bottom: 10px;
}

.header_title-sub {
    font-size: 18px;
    @extend %font-family-2;
    width: 200px;
}

.header_discription {
    margin-bottom: 20px;
}

.header_discription-list {
    font-size: 12px;
    @extend %font-family-2;
    color: $color-1;
}

.header_discription-item {
    line-height: 1;
    margin: 13px 0;

    &::before {
        content: url(../images/arrow.png);
        width: 7px;
        height: 12px;
        margin-right: 15px;
    }
}

.header_btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: $color-2;
    border-radius: 5px;
    border: none;
    width: 211px;
    height: 50px;
    cursor: pointer;
    margin-left: 20px;
}

.header_btn-icon {
    background-image: url(../images/download.png);
    width: 36px;
    height: 24px;
}

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
    .header_btn-icon {
        background-image: url(../images/download@2x.png);
        background-size: cover;
        width: 36px;
        height: 24px;
    }
}

.header_btn-text {
    font-size: 20px;
    @extend %font-family-1;
    color: $color-1;
    line-height: 1.8;
}

.header_images {
    display: none;
}