
.video__wrap {
  background-color: $color-6;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  padding-top: 110px;
  padding-bottom: 110px;
}

.video__title {
  @extend %text;
}

.video__title-head {
  @extend %font-family-4;
  font-size: 18px;
  line-height: 28px;
  text-decoration: none;
  text-transform: uppercase;
  color: $color-3;
  // padding-top: 110px;
}
.video__info {
  @extend %text;
}
.video__info-text {
  @extend %font-family-2;
  font-size: 16px;
  line-height: 26px;
  color: $color-1;
  padding-top: 30px;
}
.video__icons {
  @extend %text;
   padding-top: 25px;
 }
 .video__icon {
   display: inline-block;
   width: 70px;
   height: 70px;
   border-radius: 50%;
   border: 15px solid $color-7;
   background-color: $color-7;
   background-repeat: no-repeat;
   background-position: center;
   background-size: contain;
   margin-right: 0;
   cursor: pointer;
 
   &:not(:last-child) {
     margin-right: 15px;
   }
   &--apple {
     background-image: url(../images/icon/apple.png);
   }
   &--android {
     background-image: url(../images/icon/android.png);
   }
 }
.video__box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 40px 0 60px 0;
}

.video__play {
  width: 270px;
  height: 220px;
}
.play {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translate(85px, 120px);
}


