
.video__wrap {
  background-color: #31d4e7;
  padding: 0 20px;

}

.video__title {
  @extend %text;
}

.video__title-head {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  text-decoration: none;
  text-transform: uppercase;
  color: #222222;
  padding-top: 60px;
}
.video__info {
  @extend %text;
}
.video__info-text {
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #ffffff;
padding-top: 30px;
}
.video__icons {
  @extend %text;
   padding-top: 25px;
 }
 .video__icon {
   display: inline-block;
   width: 70px;
   height: 70px;
   border-radius: 50%;
   border: 15px solid #0098cd;
   background-color: #0098cd;
   background-repeat: no-repeat;
   background-position: center;
   background-size: contain;
   margin-right: 0;
   cursor: pointer;
 
   &:not(:last-child) {
     margin-right: 15px;
   }
   &--apple {
     background-image: url(../images/icon/apple.png);
   }
   &--android {
     background-image: url(../images/icon/android.png);
   }
 }
.video__box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 40px 0 60px 0;
}

.video__play {
  width: 270px;
  height: 220px;
}
.play {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translate(85px, 120px);
}


